<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

<!--  开启注解支持  -->
    <context:annotation-config/>

<!--    <bean id="cat" class="com.dl.pojo.Cat"/>-->
<!--    <bean id="dog" class="com.dl.pojo.Dog"/>-->

    <bean id="cat1" class="com.dl.pojo.Cat"/>
    <bean id="dog1" class="com.dl.pojo.Dog"/>
    <bean id="cat2" class="com.dl.pojo.Cat"/>
    <bean id="dog2" class="com.dl.pojo.Dog"/>

    <bean id="people" class="com.dl.pojo.People">
        <property name="name" value="小白"/>
    </bean>


<!--    <bean id="people" class="com.dl.pojo.People">-->
<!--        <property name="name" value="小白"/>-->
<!--        <property name="cat" ref="cat"/>-->
<!--        <property name="dog" ref="dog"/>-->
<!--    </bean>-->

<!-- byName自动装配：会在容器上下文中查找，与自己对象set方法后面的值对应的beanid ，必须保证id唯一  -->
<!--    <bean id="people" class="com.dl.pojo.People" autowire="byName">-->
<!--        <property name="name" value="小白"/>-->
<!--    </bean>-->

<!--  byType自动装配：会在容器的上下文中查找，与对象属性类型一致的bean，必须保证class唯一  -->
<!--    <bean id="people" class="com.dl.pojo.People" autowire="byType">-->
<!--        <property name="name" value="小白"/>-->
<!--    </bean>-->



</beans>