<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!--  开启注解支持 ，注册了几个注解的bean（@Autowired。。。。） -->
    <context:annotation-config/>
    <!--  指定要扫描的包，这个包下的所有注解就会失效；相当于注册扫描到的所有注解的bean，使用了这个 <context:annotation-config/> 就可以不写了  -->
    <context:component-scan base-package="com"/>

<!--    <bean id="user" class="com.dl.pojo.User">-->
<!--        <property name="name" value="小白"/>-->
<!--    </bean>-->


</beans>